Repository MFRADJ/MyProf-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @senior-team-lead, @backend-leads, @api-team-lead, @database-team, @security-team, @devops-team, @qa-team-lead, @technical-writers

test workflows feature/ruelsetdevelop
  .github/branch-protection.yml
  .github/workflows/1-code-quality.yml
  .github/workflows/1-quality-checks.yml
  .github/workflows/10-monitoring-observability.yml
  .github/workflows/11-compliance-gdpr.yml
  .github/workflows/13-data-management.yml
  .github/workflows/14-api-contract.yml
  .github/workflows/15-monitoring-monolith.yml
  .github/workflows/16-database-checks.yml
  .github/workflows/17-monolith-deployment.yml
  .github/workflows/18-monolith-security.yml
  .github/workflows/19-environment-deployment.yml
  .github/workflows/2-tests.yml
  .github/workflows/2-unit-tests.yml
  .github/workflows/3-integration-tests.yml
  .github/workflows/3-security.yml
  .github/workflows/4-performance.yml
  .github/workflows/4-security-tests.yml
  .github/workflows/5-build-deploy.yml
  .github/workflows/5-performance-tests.yml
  .github/workflows/6-e2e-tests.yml
  .github/workflows/7-coverage.yml
  .github/workflows/8-build-deploy.yml
  .github/workflows/9-pr-validation.yml
  .github/workflows/branch-issue-creation.yml
  .github/workflows/branch-push.yml
  .github/workflows/code-coverage.yml
  .github/workflows/code-style.yml
  .github/workflows/create-issue-from-branch.yml
  .github/workflows/integration-tests.yml
  .github/workflows/security-check.yml
  .github/workflows/unit-tests.yml
Owners: @devops-team

test workflows feature_1
  .github/workflows/code-coverage.yml
  .vscode/settings.json
  docs/ci-cd-workflow.md
  pom.xml
Owners: @devops-team, @senior-team-lead, @technical-writers

test workflows feature_2
  .idea/compiler.xml
  pom.xml
Owners: @senior-team-lead

test workflows feature_3
  .github/workflows/integration-tests.yml
  pom.xml
Owners: @devops-team, @senior-team-lead

test workflows feature_4
  checkstyle.xml
  pom.xml
Owners: @senior-team-lead

test workflows feature_4
  .github/workflows/integration-tests.yml
  pom.xml
  src/main/java/com/MyProf/MyProf_Backend/MyProfBackendApplication.java
Owners: @devops-team, @senior-team-lead

test workflows feature_5
  .github/workflows/integration-tests.yml
Owners: @devops-team

test workflows feature_6
  pom.xml
Owners: @senior-team-lead

test workflows feature_6
  .idea/compiler.xml
  .idea/dataSources.xml
  docs/authentification/authentication.md
  docs/authentification/authentication.puml
  docs/suivi-status-fonctionnalites/README.md
  docs/suivi-status-fonctionnalites/authentification/authentication.md
  pom.xml
  src/main/java/com/MyProf/MyProf_Backend/MyProfBackendApplication.java
  src/main/java/com/MyProf/MyProf_Backend/config/ApplicationConfig.java
  src/main/java/com/MyProf/MyProf_Backend/config/SecurityConfig.java
  src/main/java/com/MyProf/MyProf_Backend/dto/AuthResponse.java
  src/main/java/com/MyProf/MyProf_Backend/dto/LoginRequest.java
  src/main/java/com/MyProf/MyProf_Backend/dto/ProfileRequest.java
  src/main/java/com/MyProf/MyProf_Backend/dto/SignupRequest.java
  src/main/java/com/MyProf/MyProf_Backend/models/Profile.java
  src/main/java/com/MyProf/MyProf_Backend/models/User.java
  src/main/java/com/MyProf/MyProf_Backend/models/UserRole.java
  src/main/java/com/MyProf/MyProf_Backend/repositories/ProfileRepository.java
  src/main/java/com/MyProf/MyProf_Backend/repositories/UserRepository.java
  src/main/java/com/MyProf/MyProf_Backend/security/JwtAuthenticationFilter.java
  src/main/java/com/MyProf/MyProf_Backend/security/JwtService.java
  src/main/java/com/MyProf/MyProf_Backend/services/AuthService.java
  src/main/resources/application.properties
  src/test/java/com/MyProf/MyProf_Backend/integration/AuthControllerIT.java
  target/classes/application.properties
Owners: @senior-team-lead, @technical-writers, @devops-team, @qa-team-lead

LAST VERSION OF THE PROJECT
  .idea/compiler.xml
  .idea/dataSources.xml
  .vscode/settings.json
  pom.xml
  src/main/java/com/MyProf/MyProf_Backend/MyProfBackendApplication.java
  src/main/java/com/MyProf/MyProf_Backend/config/ApplicationConfig.java
  src/main/java/com/MyProf/MyProf_Backend/config/SecurityConfig.java
  src/main/java/com/MyProf/MyProf_Backend/dto/AuthResponse.java
  src/main/java/com/MyProf/MyProf_Backend/dto/LoginRequest.java
  src/main/java/com/MyProf/MyProf_Backend/dto/ProfileRequest.java
  src/main/java/com/MyProf/MyProf_Backend/dto/SignupRequest.java
  src/main/java/com/MyProf/MyProf_Backend/models/Profile.java
  src/main/java/com/MyProf/MyProf_Backend/models/User.java
  src/main/java/com/MyProf/MyProf_Backend/models/UserRole.java
  src/main/java/com/MyProf/MyProf_Backend/repositories/ProfileRepository.java
  src/main/java/com/MyProf/MyProf_Backend/repositories/UserRepository.java
  src/main/java/com/MyProf/MyProf_Backend/roles/RoleInitializer.java
  src/main/java/com/MyProf/MyProf_Backend/security/JwtAuthenticationFilter.java
  src/main/java/com/MyProf/MyProf_Backend/security/JwtService.java
  src/main/java/com/MyProf/MyProf_Backend/services/AuthService.java
  src/main/resources/application-dev.yml
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/test/java/com/MyProf/MyProf_Backend/auth/AuthentificationControllerTest.java
  src/test/java/com/MyProf/MyProf_Backend/auth/JwtServiceTest.java
  src/test/java/com/MyProf/MyProf_Backend/integration/AuthControllerIT.java
  target/classes/application-dev.yml
  target/classes/application-prod.yml
  target/classes/application-staging.yml
  target/classes/application.properties
  target/classes/application.yml
Owners: @senior-team-lead, @devops-team, @qa-team-lead

LAST VERSION OF THE PROJECT
  src/main/java/com/MyProf/MyProf_Backend/auth/AuthentificationController.java
  src/main/java/com/MyProf/MyProf_Backend/auth/AuthentificationRequest.java
  src/main/java/com/MyProf/MyProf_Backend/auth/AuthentificationResponse.java
  src/main/java/com/MyProf/MyProf_Backend/auth/AuthentifictionService.java
  src/main/java/com/MyProf/MyProf_Backend/auth/RegistrationRequest.java
  src/main/java/com/MyProf/MyProf_Backend/auth/Token.java
  src/main/java/com/MyProf/MyProf_Backend/auth/TokenRepository.java
  src/main/java/com/MyProf/MyProf_Backend/config/ApplicationAuditAware.java
  src/main/java/com/MyProf/MyProf_Backend/config/CorsConfig.java
  src/main/java/com/MyProf/MyProf_Backend/config/WebSecurityConfig.java
  src/main/java/com/MyProf/MyProf_Backend/email/EmailService.java
  src/main/java/com/MyProf/MyProf_Backend/email/EmailTemplateName.java
  src/main/java/com/MyProf/MyProf_Backend/enums/UserStatus.java
  src/main/java/com/MyProf/MyProf_Backend/exception/ActivationTokenException.java
  src/main/java/com/MyProf/MyProf_Backend/exception/OperationNotPermittedException.java
  src/main/java/com/MyProf/MyProf_Backend/exception/RoleAlreadyExistException.java
  src/main/java/com/MyProf/MyProf_Backend/exception/UserAlreadyExistsException.java
  src/main/java/com/MyProf/MyProf_Backend/exception/UserNotFoundException.java
  src/main/java/com/MyProf/MyProf_Backend/profil/Profile.java
  src/main/java/com/MyProf/MyProf_Backend/roles/Role.java
  src/main/java/com/MyProf/MyProf_Backend/roles/RoleController.java
  src/main/java/com/MyProf/MyProf_Backend/roles/RoleRepository.java
  src/main/java/com/MyProf/MyProf_Backend/security/JwtFilter.java
  src/main/java/com/MyProf/MyProf_Backend/security/UserDetailsServiceImpl.java
  src/main/java/com/MyProf/MyProf_Backend/user/User.java
  src/main/java/com/MyProf/MyProf_Backend/user/UserRepository.java
  src/main/java/com/MyProf/MyProf_Backend/user/Userdto.java
  src/main/resources/templates/activate_account.html
  src/test/java/com/MyProf/MyProf_Backend/auth/AuthentifictionServiceTest.java
Owners: @senior-team-lead, @qa-team-lead

New Version of auth fonctionnality
  target/classes/application-dev.yml
  target/classes/application-prod.yml
  target/classes/application-staging.yml
  target/classes/application.yml
  target/classes/templates/activate_account.html
Owners: @devops-team, @senior-team-lead

Role user add , Auth by role tested and ok
  src/main/java/fr/MyProf/backend/factory/UserFactory.java
  src/main/java/fr/MyProf/backend/model/Admin.java
  src/main/java/fr/MyProf/backend/model/Parent.java
  src/main/java/fr/MyProf/backend/model/Student.java
  src/main/java/fr/MyProf/backend/model/Teacher.java
Owners: @senior-team-lead

archticture re orginzed
  src/main/java/fr/MyProf/backend/auth/controllers/AuthController.java
  src/main/java/fr/MyProf/backend/auth/dto/AuthResponse.java
  src/main/java/fr/MyProf/backend/auth/dto/LoginRequest.java
  src/main/java/fr/MyProf/backend/auth/dto/RegisterRequest.java
  src/main/java/fr/MyProf/backend/auth/security/JwtAuthenticationFilter.java
  src/main/java/fr/MyProf/backend/auth/service/AuthService.java
  src/main/java/fr/MyProf/backend/auth/service/CustomUserDetailsService.java
  src/main/java/fr/MyProf/backend/auth/service/JwtService.java
  src/main/java/fr/MyProf/backend/config/SecurityConfig.java
  src/main/java/fr/MyProf/backend/exception/.gitkeep
  src/main/java/fr/MyProf/backend/users/Role.java
  src/main/java/fr/MyProf/backend/users/factory/UserFactory.java
  src/main/java/fr/MyProf/backend/users/models/Admin.java
  src/main/java/fr/MyProf/backend/users/models/Parent.java
  src/main/java/fr/MyProf/backend/users/models/Student.java
  src/main/java/fr/MyProf/backend/users/models/Teacher.java
  src/main/java/fr/MyProf/backend/users/models/User.java
  src/main/java/fr/MyProf/backend/users/repository/UserRepository.java
  target/classes/application-dev.yml
  target/classes/application-prod.yml
  target/classes/application-staging.yml
  target/classes/application.yml
  target/classes/templates/activate_account.html
Owners: @senior-team-lead, @devops-team

archticture re orginzed
  target/classes/application-dev.yml
  target/classes/application-prod.yml
  target/classes/application-staging.yml
  target/classes/application.yml
  target/classes/fr/MyProf/backend/exception/.gitkeep
  target/classes/templates/activate_account.html
Owners: @devops-team, @senior-team-lead

.github/CODEOWNERS:

# Code Owners for MyProf-Backend
# This file defines who should review changes to different parts of the codebase

# Default owners for everything in the repo
* @senior-team-lead

# Backend core
/src/main/java/com/myprof/core/ @backend-leads

# API endpoints
/src/main/java/com/myprof/api/ @api-team-lead

# Database
/src/main/java/com/myprof/repository/ @database-team

# Security
/src/main/java/com/myprof/security/ @security-team

# Configuration
*.yml @devops-team
*.properties @devops-team

# Tests
/src/test/ @qa-team-lead

# Documentation
/docs/ @technical-writers
